<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Admin Homepage</title>
    <link rel="stylesheet" href="/css files/adminhomepage.css">
</head>

<body>
    <div class="container" id="main-wrapper">
        <div class="d-flex justify-content-center mt-4 border-bottom">
            <h2 style="text-shadow: 2px 2px 5px rgba(223, 232, 217, 0.919); color: rgb(74, 72, 78);">ADMIN PANEL</h2>
        </div>

        <div class="container-fluid d-flex justify-content-between align-items-center mt-4 mb-5">
            <form action="/admin/homePage" class="" method="POST">
                <div class="d-flex">
                    <input type="search" placeholder="search...." class="form-control" name="search">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </form>

            <form action="/admin/signOut" method="GET" class="" id="form-wrapper">
                <div class="">
                    <button class="btn btn-primary">Sign Out</button>
                </div>
            </form>
        </div>


        <table class="table table-success table-striped ">
            <thead>
                <tr class="">
                    <th>SlNo.</th>
                    <th>Username</th>
                    <th>User Email</th>
                    <th colspan="2" class="text-center">Actions</th>
                </tr>
            </thead>
            <%if ( users.length> 0 ) { %>
                <% users.forEach( ( user, index )=> { %>
                    <tr>
                        <td class="">
                            <%= index + 1 %>
                        </td>
                        <td class="">
                            <%= user.username %>
                        </td>
                        <td class="">
                            <%= user.email %>
                        </td>
                        <td class="text-center"><a data-bs-toggle="modal" data-bs-target="#userModal"
                                data-bs-id="<%= user._id %>" data-bs-username="<%= user.username %>"
                                data-bs-email="<%= user.email %>" class="btn btn-success">Update</a>
                        </td>
                        <td class="text-centre">
                            <button class="btn btn-danger" onclick="deleteUser('<%= user._id %>')">Delete</button>
                        </td>
                    </tr>
                    <% } ); %>
                        <% } else { %>
                            <tr>
                                <td colspan="5" class="text-center">No users available.</td>
                            </tr>
                            <% }%>
        </table>

        <!-- Modal - userdetails -->
        <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Update User Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="updateForm">
                            <div class="mb-3">
                                <label for="username" class="col-form-label">Username</label>
                                <input type="text" class="form-control" id="username">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="col-form-label">Email</label>
                                <input type="email" class="form-control" id="email" title="Please enter a valid Email">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- javascript to handle the modal -->
    <script src="/javascript/adminHomepage.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>